body {
  /* Use the path relative to the CSS file */
  background-image: url('media/DNA_strands.png'); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}